.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

/*
 * The Grid
 */

@media (min-width: 600px){
  .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    padding: 3em;
  } 
}
